* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: "Outfit", sans-serif;
    font-style: normal;
    line-height: 1.6;
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 1100px;
    margin: 100px auto;
    padding: 20px 0;
    margin-bottom: 320px;
  }
  
  .about-page h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .about-page p {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .about-page ul {
    list-style: none;
    padding-left: 0;
  }
  
  .about-page ul li {
    margin-bottom: 10px;
    font-size: 20px;
  }

  h3{
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline;
  }