* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    background: #f4f4f4;
    background-image: url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?ga=GA1.1.1780565752.1746075554&semt=ais_hybrid&w=740");
    background-size: cover;
  }

  .contact-container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .contact-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    font-size: 14px;
    outline-color: rgba(13, 82, 214, 1) ;
  }

  textarea {
    resize: vertical;
    height: 120px;
  }

  button {
    display: block;
    width: 100%;
    background-color:rgba(254, 212, 48, 1);
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(255, 204, 0);
  }