body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h2 {
  font-size: x-large;
  font-weight: 400;
}

img {
  height: 80px;
  width: 80px;
}
input {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
  outline-color: rgba(13, 82, 214, 1);
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(13, 82, 214, 1);
  color: white;
  font-size: medium;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 20px;
  font-weight: 400;
  color: #333;
}